* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

body {
  max-width: 1920px;
  width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  color: #111111;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: #111111;
  padding: 0.25em 2.75em;
  border: 5px solid #fdfc02;
  border-radius: 2em;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  color: #fefefe;
}

.btn-mod {
  border-color: #111111;
}

.container {
  padding-left: 8.5%;
  padding-right: 8.5%;
}

.container-hgt {
  padding-left: 8.5%;
  padding-right: 8.5%;
  height: 100%;
}

.flex-jcsb-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-aic-fdc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav {
  background-color: #111111;
  width: 100%;
  height: 75px;
  border-bottom: 5px solid #fdfc02;
}

.header__menu li a {
  display: block;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size: 2.8rem;
  color: #fefefe;
}

.header__hero {
  background-color: #111111;
  background-image: url(/images/index-imgs/hero-img-b.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 75px);
  border-bottom: 5px solid #111111;
}

.header__hero .hero-txt {
  background-color: rgba(17, 17, 17, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.header__hero .hero-txt h1, .header__hero .hero-txt h2 {
  font-weight: normal;
  color: #fefefe;
  letter-spacing: 0.1em;
}

.header__hero .hero-txt h1 {
  margin-top: 25%;
  font-size: 4.8rem;
  font-weight: 700;
}

.header__hero .hero-txt h2 {
  padding: 2.75rem 0 3rem;
  font-size: 3.6rem;
  line-height: 1.1;
  text-align: center;
}

.about {
  padding: 150px;
}

.about img {
  width: 785px;
  border-radius: 45px;
}

.about__txt h2, .about__txt p {
  padding: 0 5rem 2.75rem;
  color: #111111;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

.about__txt h2 {
  padding-bottom: 2.75rem;
  font-weight: normal;
  font-size: 3.6rem;
}

.about__txt p {
  font-size: 2.2rem;
}

.invert-section {
  background-color: #111111;
  text-align: right;
}

.invert-section h2, .invert-section p {
  color: #fefefe;
}

.invert-section a {
  color: #fdfc02;
}

.testimonial img {
  margin: 245px 0;
  border-radius: 50%;
}

.testimonial__txt {
  padding-left: 2rem;
}

.testimonial__txt p {
  letter-spacing: 0.1em;
  line-height: 1.1;
  padding-bottom: 1.5rem;
  color: #111111;
}

.testimonial__txt :first-child {
  font-size: 2.2rem;
  font-weight: 700;
}

.testimonial__txt :nth-child(2) {
  font-size: 1.8rem;
}

.testimonial__txt :last-child {
  font-size: 1.6rem;
  font-weight: 700;
}

.footer__cta {
  background-color: #fdfc02;
  height: 665px;
  border-top: 5px solid #111111;
}

.footer__cta :first-child {
  padding-bottom: 0;
}

.footer__cta h2 {
  padding-bottom: 2.5rem;
  color: #111111;
  font-size: 3.6rem;
}

.footer__cta h2 a {
  color: #fefefe;
  text-shadow: 0 0 5px #111111;
}

.footer__bar {
  background-color: #111111;
  width: 100%;
  height: 75px;
}
/*# sourceMappingURL=style.css.map */