*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body{
    max-width: 1920px;
    width: 100vw;
    overflow-x: hidden;

    font-size:62.5%;
    color: $c-dark;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

button{
    cursor: pointer;
    background-color: $c-dark;
    padding: 0.25em 2.75em;

    border: 5px solid $c-highlight;
    border-radius: 2em;

    font-size: 2.2rem;
    letter-spacing: 0.1em;
    color: $c-light;
}

.btn-mod{
    border-color: $c-dark;
}

.container{
    padding-left: 8.5%;
    padding-right: 8.5%;

    &-hgt{
        padding-left: 8.5%;
        padding-right: 8.5%;
        height: 100%;
    }
}

.flex-jcsb-aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-aic{
    display: flex;
    align-items: center;
}

.flex-aic-fdc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-jcc{
    justify-content: center;
}